.all{
    display: flex;
    overflow-x: scroll;
    .tag{
        background-color: rgb(235, 233, 233);
        padding: 8px 8px;
        border-radius: 7px;
        margin-right: 20px;
        text-transform: capitalize;
    }
}

.all::-webkit-scrollbar {
    display: none;
}