.all {
    display: flex;
    overflow-x: scroll;

    .tag {
        background-color: #f8f8f8;
        padding: 8px 8px;
        border-radius: 7px;
        margin-right: 20px;
        text-transform: capitalize;
        border: none;
    }

    .dark-btn{
        background-color: grey;
        color: white;
    }
}

.all::-webkit-scrollbar {
    display: none;
}