<div class="navbar">
    <div class="section1">
        <div class="menu">
            <img src="assets/icons/menu.png" alt="">
        </div>
        <div class="youtube">
            <img src="assets/icons/youtube.png" alt="">
           
        </div>
    </div>
    <div class="section2">
        <div class="input">
            <div class="search_input">
                <input type="text" placeholder="Search">
                <img src="assets/icons/close.png" alt="" *ngIf="0">
            </div>
            <div class="search_button">
                <button>
                    <img src="assets/icons/searchh.png" alt="">
                </button>
            </div>
        </div>
        <div class="mic">
            <img src="assets/icons/mic.png" alt="">
        </div>
    </div>
    <div class="section3">
        <img src="assets/icons/movie.png" alt="">
        <div class="bell">
            <img src="assets/icons/bell.png" alt="">
            <p>9+</p>
        </div>
        <img src="assets/images/img.png" alt="">
    </div>
</div>