<div class="video">
    <div class="thumbnail">
        <img src="assets/images/download.jpg" alt="">
  <div class="length">10:25</div>
    </div>
    <div class="content">
        <div class="channel-logo">
            <div class="img">
                <img src="assets/images/download.jpg" alt="">
            </div>
        </div>
        <div class="video-info">
            <p class="title">Lorem ipsum dolor, sit amet consectetur</p>
            <p class="user">Sahil Ajmeri</p>
            <div class="views-time">
                <p>8.2M views </p>
                <div class="dot"></div>
                <p>2 weeks ago</p>
                <p></p>
            </div>
        </div>
    </div>
</div>