<div class="video">
    <div class="thumbnail">
        <img src="{{imageUrl}}" alt="">
        <div class="length">{{video.videoLength.minits}}:{{video.videoLength.seconds}}</div>
    </div>
    <div class="content">
        <div class="channel-logo">
            <div class="img">
                <img src="{{video.ownerProfilePic}}" alt="">
            </div>
        </div>
        <div class="video-info">
            <p class="title">{{video.title}}</p>
            <p class="user">{{video.owner}}</p>
            <div class="views-time">
                <p>{{video.views>=1000000?
                    ((video.views)/100000+'').slice(0,4)+'M':video.views>100000?(video.views+'').slice(0,3)+'K':video.views}}
                </p>
                <div class="dot"></div>
                <p>{{video.time+' ago'}}</p>
                <p></p>
            </div>
        </div>
    </div>
</div>