.all-data {
    width: 18vw;
    height: 90vh;
    //   scroll-behavior: auto;
    overflow-y: scroll;

    .border-bottom {
        width: 87%;
        margin: auto;
        height: 2px;
        background-color:#eeeded;
    }
}

.all-data::-webkit-scrollbar {
    display: none;
}