.all {
    padding: 20px 15px 0 15px;
    position: relative;
   
//border-bottom: 1px solid black;
    button {
        display: flex;
        align-items: center;
        padding: 10px 11px;
        border: none;
        width: 100%;
        margin-bottom: 7px;
        background-color: white;
        .img {
            img {
                width: 20px;
                height: 20px;
            }
        }

        h3 {
            margin-left: 25px;
            font-weight: lighter;
        }

       
    }
    .active{
        background-color: rgb(235, 233, 233);
        border-radius: 10px;
    }
}